@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root{
    min-height: 100svh;
}

#nprogress .bar{
    background: #1ED760!important;
}

a:not(.not-green){
    color: #1ED760!important;
}